<div class="artboard container">

  <h1>About GentleResolve.com</h1>

  <h5>Maybe, the easiest way to explain what this site is about or the driving ideas behind this site is to explain the logo. What makes success possible? What makes us a better person. The three green lines represents the self. It is the ever present mind, body, and soul. These three elements in every person’s being is something we should approach to strive.</h5>
  <h5>Mind. We need to work on our knowledge base. Try to fill it with useful information as much as possible.
  Body. As we get older, we realize how this becomes more of a factor in our lives. Without healthy bodies we can not maximize our potential. Give me a healthy mind and body, and I will show you someone who can get things done.
  Soul. Integrity or the force for good is something we should all seek. Selfishness can only lead to ruin in the longterm. This will be examined further in a future article.</h5>
  <h5>The red line represents people. We need people that we love and care for us in our lives. If we want to attain goals then people have to play a important part in that process. It is also our birthright to love and have someone who loves us.
  The blue circle surrounding everything. It is the universe, world, God, luck, and everything else. We need to be aware that there are other forces beyond our control at work. The more we are aware of these factors, the more we can guide our decision-making process.
  If we work on the self, people will inevitably want to help us. Once we start respecting and understanding things around us at play, the better decisions we make to affect real change in our situations and others.
  </h5>
    <img src="assets/images/pencils.jpg" alt="">
</div>
