
<div id="mySidenav" class="sidenav">

  <div class="column1">
    <a (click)="closeNav()" routerLink="home" class="section1 section"></a>
    <a (click)="closeNav()" routerLink="story" class="section2 section"></a>
  </div>
  <div class="column2">
    <a (click)="closeNav()" href="#" routerLink="meditation" class="section3 section"></a>
    <a (click)="closeNav()" href="#" routerLink="about" class="section4 section"></a>
  </div>

  <a (click)="closeNav()" routerLink="slider" class="section5"></a>

</div>

<div class="navbar">
  <div class="navbar-margin" routerLink="home">
    <a><img class="logo pull-left" src="assets/images/logo.png"></a>
  </div>
  <div class="custom-link border-left" routerLink="story">
    <a>Latest</a>
  </div>
  <div class="custom-link" routerLink="community">
    <a>Community</a>
  </div>
  <div class="custom-link" routerLink="meditation">
    <a>Meditation</a>
  </div>
  <div class="custom-link" routerLink="about">
    <a>About</a>
  </div>
  <div class="custom-link" routerLink="slider">
    <a>Start</a>
  </div>
  <div class="navbar-margin">

  </div>
</div>
