<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <img type="button" (click)="openClose()" class="logo navbar-toggle collapsed" id="logo" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" src="assets/images/logo.png" alt="">
    <a class="navbar-brand" routerLink="home"><a pageScroll [routerLink]="['home']" href="#contact"><img class="logo pull-left" src="assets/images/logo.png"></a></a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="custom-link" routerLink="story">latest</a></li>
      <li><a class="custom-link" routerLink="community">community</a></li>
      <li><a class="custom-link" routerLink="meditation">meditation</a></li>
      <li><a class="custom-link" routerLink="about">about</a></li>
      <li><a class="custom-link" routerLink="slider">start</a></li>
    </ul>
  </div>
</nav>


<div id="mySidenav" class="sidenav">

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="column1">
    <a (click)="closeNav()" routerLink="home" class="section1 section"></a>
    <a (click)="closeNav()" routerLink="story" class="section2 section"></a>
  </div>
  <div class="column2">
    <a (click)="closeNav()" href="#" routerLink="meditation" class="section3 section"></a>
    <a (click)="closeNav()" href="#" routerLink="about" class="section4 section"></a>
  </div>


  <a (click)="closeNav()" routerLink="slider" class="section5"></a>

</div>
