/*blue: #25CED1
orange: #ffa035*/

body,
html {
  width: 100%;
  height: 100%;

}

.list-menu, .logo {
  height:5vh;
  width:auto;
}

@font-face {
  font-family: caviar-dreams-bold;
  src: url(../../assets/fonts/caviar-dreams-bold.ttf);
}

.navbar-default {
  height: 10vh;
  background-color: #DDDDDD;
  border-bottom: 5px solid #0C510F;

}

.navbar-nav>li>a {
  color: #131413;
}

.navbar-nav>li>a:hover {
  color: #0C510F;
}


a {
  font-family: playfair-regular;
}

.navbar-brand {
  position: relative;
  z-index: 5;
}

.custom-link {
  height: 9.5vh;
  padding-top: 25px;
  text-align: center;
  position: relative;
  width: 16vw;
  text-transform: uppercase;
  color: #131413;
  background-color: #DDDDDD;
  border-right: thin solid #131413;
  font-size: 2.25em;
}

@media screen and (max-width: 1000px){
  .custom-link {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .custom-link {
    font-size: 1.75em;
  }
}

.custom-link:hover {
  position: relative;
  background-color: #ADFFB6 !important;
}

.custom-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #0C510F;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.custom-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav {
  position: fixed;
  right: 10%;
}

.sidenav {
  height: 100%;
  position: fixed;
  width: 0;
  right: 0px;
  z-index: 4;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  transition: ease-in-out 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: caviar-dreams-bold;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.collapse {
  @media (max-width: 960px) {
    display: none !important;
  }
  .custom-link {
    display: none;
    height: 8.5vh;
    text-align: left;
    color: #000;
    background-color: white;
    border-right: none;
  }
  a {
    font-size: medium;
    margin-top: 2vh;
  }
}

.line {
  width: 100%;
  height: 75px;
  background-color: orange;
}
