<div class="boxes-background">

   <!--box 1-->
     <!-- <div class="row"> -->
       <a routerLink="/story">
         <div class="col-lg-4 box box1" routerlink="/story">
           <img class="img-responsive shrink border1" src="assets/images/stranger2.png" alt="">
           <div class="text-box">
             <h2 class="section-heading">Newest Article:<br>The Stranger</h2>
             <p class="lead">Being open to the opportunity of serendipity.</p>
           </div>
         </div>
       </a>
 <!--end box1-->
 <!--box2-->
       <a routerLink="/slider">
         <div class="col-lg-4 box box2">
           <img class="img-responsive shrink border2" src="assets/images/journey.jpg" alt="">
           <div class="text-box">
             <h2 class="section-heading">Journey</h2>
             <p class="lead">Small steps we can right now to change for the better.</p>
           </div>
         </div>
       </a>
 <!--end Tier 2: new article-->
 <!--Tier 3:-->
       <a routerLink="/community">
         <div class="col-lg-4 box box3">
           <img class="img-responsive shrink" src="assets/images/community.png" alt="">
           <div class="text-box">
             <h2 class="section-heading">Community</h2>
             <p class="lead">Powerful ideas from the world community.</p>
           </div>
         </div>
       </a>
     <!-- </div> -->
 </div>
