<div class="artboard">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="column1">
          <h2>Contact</h2>
          <div class="disappear">
            <h3> I want to get to know everyone of you. Everyone is important.</h3>
            <a href="mailto:gentleresolve360@gmail.com"><h3 id="email">gentleresolve360@gmail.com</h3></a>
          </div>
        </div>
        <div class="column2 border">
          <!-- main button -->
          <div class="form">
            <div class="mail"></div>
            <form action="">
              <input type="text" placeholder="Name"/>
              <input type="text" placeholder="Your email"/>
              <input type="text" placeholder="Subject"/>
              <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
              <div class="submit">Send</div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="thanks">
    <span>Thank You</span>
  </div>

</div>


<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Gentle Resolve 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
