<div class="intro-header">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="intro-message">
                <h1>Gentle Resolve</h1>
                <h3 id="darksubtext">Everytime you just need a moment to gather yourself.</h3>
                <ul class="list-inline intro-social-buttons">
                   <li class="btn">
                     <div routerLink="/slider" class="custom-button">
                       <span class="journey"><br>Mental<br>Refresh</span>
                     </div>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
