
body,
html {
    width: 100%;
    height: 100%;
}

.intro-header {
    padding-top: 150px;
    padding-bottom: 300px;
    text-align: center;
    background: url(../../assets/images/power.jpg) no-repeat center center;
    background-size: cover;
}

@font-face {
    font-family: coolvetica;
    src: url(../../assets/fonts/caviar-dreams-bold.ttf);

}

h1  {
  color: #FFEB3F;
  font-weight: bolder;
  font-size: 5em;
  text-shadow: 3px 3px #131413;
      font-family: coolvetica;
}

#darksubtext {
  font-family: coolvetica;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px #131413;
}

.custom-button {
  /*margin-top: 500px;*/
  height: 50px;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  color: yellow;
  border:1px solid yellow;
}

.custom-button:hover {
  background-color: #32D61F;
}

.custom-button:active{
  background-color: white;
}

.journey {
  font-size: 1.5em;
}
