<div class="container">
  <div class="column1">
    <div class="content">
      <h1>Beginner's Guide for Meditation</h1>
      <br>
      <img class="main-image" src="assets/images/calm.png" alt="">
      <br>
      <br>
      <p>Meditation has shown to increase focus, willpower, and overall mental well-being. Most beginners think of meditation of something mystical or taxing. Some believe you have to stop thinking. This is not the case. It’s just about us being in the present. The easiest way to do that is breathing. Just start to focus on the breath.</p>
      <p>I find that starting a morning ritual of spending just five minutes to be really effective in creating a positive habit. Just slowly increase the minutes according to your personal comfort level. The most important thing is to just do it. Length is not important especially in the beginning. When you wake up in the morning after you’ve done you need to get ready for the day, take five minutes to just meditate.</p>
      <p>If you are going to ride public transportation, that’s a great time to do it. During transit, I like to put on my earphones and hear the sound of the ocean from a free app called Atmosphere. Otherwise1, sit down somewhere comfortable in your home. Sit up straight with good posture and just focus on your breath as much as possible.</p>
      <p>In the beginning take some big breaths to relax the body and calm down the mind. You can choose to keep taking big breadths or you can take more shallow breadths. Many of us who live a modern life of over-saturation of stimuli will not be used to this silence. Before you know it, random thoughts start bubbling up. Maybe, you have an itch somewhere. It’s okay to have thoughts. Just be aware of your agency. You can choose to engage in the thought further or you can simply let it with the exhale of your breadth. Some thoughts will be worth engaging and some will not. As long as you remember that is choice to make it, you are free to do so.  Otherwise, just focus on your breadth: inhaling and exhaling.</p>
      <p>That’s it. Just keep doing that until you establish a pattern of doing it every-day before trying something else like guided meditations, mantras, Tai-Chi, or many other various forms of meditation. The positive effect of doing meditation might not be immediate. It might take three to six months, to feel any difference. I find myself more calm, relaxed, and more prepared for the day every-time I meditate in the morning.</p>
    </div>
  </div>

  <div class="column2">

      <div class="side-boxes">
        <a href="https://unsplash.com/@mili_vigerova"><img class="side-images" src="assets/images/stones.jpg" alt=""></a>
        <h5>Photographed by <a href="https://unsplash.com/@mili_vigerova">Milada Vigerova</a></h5>
      </div>
      <div class="side-boxes">
        <img class="side-images" src="assets/images/balance.jpg" alt="">
        <h5>Photographed by Ralf Kunze</h5>
      </div>
      <div class="side-boxes">
        <img class="side-images" src="assets/images/meditation.png" alt="">
        <h5>Meditating right after you wake up.</h5>
      </div>
  </div>
  <footer>
<div><img src="assets/images/stones.jpg" alt><h5>Photographed by <br><a href="https://unsplash.com/@mili_vigerova">Milada Vigerova</a></h5></div>
<div><img src="assets/images/balance.jpg" alt><h5>Photographed by <br>Ralf Kunze</h5></div>
<!-- <div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-3.jpg" alt></div>
<div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-4.jpg" alt></div> -->
<div><img src="assets/images/meditation.png" alt><h5>Meditating right after <br>you wake up.</h5></div>
  <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
</footer>
  <div class="phone">

      <div class="bottom-boxes bb3">
        <img class="bottom-images" src="assets/images/meditation.png" alt="">
        <h5>Meditating right after you wake up.</h5>
      </div>
  </div>
</div>
