body,
html {
    width: 100%;
    height: 100%;

}

.logo{
   height:25px;
   width:auto;
}

@font-face {
    font-family: caviar-dreams-bold;
    src: url(../assets/fonts/caviar-dreams-bold.ttf);
}

a {
  font-family: caviar-dreams-bold;
}



.navbar-brand {
  position: relative;
  z-index: 5;
}

/*ul.nav a:hover { color: #fff !important; }*/

/*.nav > li > a:hover{
    background-color:#FCC;
}*/

.custom-link {
  position: relative;
  color: #000;
}

.custom-link:hover {
  color: #000;
  text-decoration: underline;
}

.custom-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.custom-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar {
    height: 13vh;
  }


  body,
  html {
      width: 100%;
      height: 100%;
  }

  p {
     font-size: 16px;
  }

  .logo{
     height:25px;
     width:auto;
  }

  .floatleft {
     float:left;
     font-size:44px;
     font-family: 'Open Sans', sans-serif;
     line-height:36px;
     text-transform: uppercase;
     color: #DAAB2B;
  }

  .putFront {
    position: relative;
    z-index: 4;
    background-color: white;
  }

  .navbar-brand {
    position: relative;
    z-index: 5;
  }

  .intro-header {
      padding-top: 225px;
      padding-bottom: 225px;
      text-align: center;
      color: #f8f8f8;
      /*background: url(assets/power.jpg) no-repeat center center;*/
      background-size: cover;
  }

  #darksubtext {
     color:yellow;
  }

  /*
  @font-face {
      font-family: coolvetica;
      src: url(../assets/fonts/caviar-dreams-bold.ttf);
  }*/

  h3 {
        font-family: coolvetica;
  }

  .title {
    font-family: 'Yesteryear', cursive;
    font-size: 70px;
    margin-top: 200px;
  }

  .boxes-padding {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .box {
    height: 60%;
    width: 29.16666666667%;
    padding-top: 2.5%;
    margin-right: 1.56%;
    margin-left: 1.56%;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    text-decoration: none;
    color: black;
  }

  img.shrink{
    width: 100%;
    height: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 1200px) {
    .box {
      height: 55vh;
      display: inline-block;
      vertical-align: top;
    }
  }

  @media (max-width: 750px) {
    .box {
      height: 55vh;
      width: 259px;
      margin: 10% 25% 10% 25%;
      display: block;
      vertical-align: top;
    }
  }

  @media (max-width: 415px) {
    .box {
      height: 55vh;
      width: 80%;
      margin: 10% 10% 10% 10%;
      display: block;
      vertical-align: top;
    }
  }

  @media (max-width: 320px) {
    .box {height: 60vh;}
    h3 {font-size: 1.5em;}
    img.shrink {width: 80%;}
  }


  .box:active {
    background-color: #C9C9C9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .boxes-background {
    background-color: #DDDDDD;
  }

  /*.text-box {
    background-color: gray;
    position:absolute;
    bottom: 0;
  }*/

  .box1 {
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #25CED1;
    box-shadow: 8px 8px 5px -5px RGBA(0,0,0,.6),
    inset -3px -3px 5px 0px RGBA(255,255,255,.4);
  }

  .box2 {
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #FFA035;
    box-shadow: 8px 8px 5px -5px RGBA(0,0,0,.6),
    inset -3px -3px 5px 0px RGBA(255,255,255,.4);
  }

  .box3{
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #FFEB3F;
    box-shadow: 8px 8px 5px -5px RGBA(0,0,0,.6),
    inset -3px -3px 5px 0px RGBA(255,255,255,.4);
  }

  .articleImage {
    height: 100%;
  }



  .thin-yellow-border{
     border-color: yellow;
     border-width: 5px;
     border-style: solid;
  }


   .banner {
       padding: 100px 0;
       color: #FFFFFF;
       background-color: #8663C6;
       background-size: cover;
   }

   .btn-xl {
      width: 150px;
      height: 60px;
   }

  /*.button-border {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
  }*/

  #email {
     background-color: white;
  }
