/*blue: #25CED1
orange: #ffa035*/

body,
html {
    width: 100%;
    height: 100%;

}

.logo{
   height:5vh;
   width:auto;
}

@font-face {
    font-family: caviar-dreams-bold;
    src: url(assets/fonts/caviar-dreams-bold.ttf);
}

@font-face {
    font-family: playfair-bold;
    src: url(assets/fonts/PlayfairDisplaySC-Black.ttf);
}

@font-face {
    font-family: playfair-regular;
    src: url(assets/fonts/PlayfairDisplaySC-Regular.ttf);
}

@font-face {
    font-family: playfair;
    src: url(assets/fonts/PlayfairDisplaySC-Bold.ttf);
}

a {
  font-family: playfair-regular;
  font-size: large;
  margin-top: 2vh;
}

a.capitalize {
  font-family: caviar-dreams-bold;
  font-size: large;
  height: 9.5vh;
}

h2 {
  color: #25CED1;
  background-color: #25CED1;
}

.navbar-brand {
  position: relative;
  z-index: 5;
}

/*ul.nav a:hover { color: #fff !important; }*/

.custom-link {
    height: 8.5vh;
  width: 16vw;
  text-align: center;
  position: relative;
  color: #000;
  background-color: white;
  /*border: thick single white;*/
  border-right: thin solid black;
}


.custom-link:hover {
  position: relative;
  background-color: #25CED1 !important;
}


.custom-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffa035;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.custom-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar {
    height: 10.5vh;
  }

    /*<color name="colorPrimary">#3F51B5</color>
    <color name="colorPrimaryDark">#303F9F</color>
    <color name="colorAccent">#FF4081</color>
    <color name="blue">#25CED1</color>
    <color name="orange">#ffa035</color>
    <color name="yellow">#FFEB3F</color>
    <color name="purple">#2134A0</color>
    <color name="black">#000000</color>
    <color name="white">#FFFFFF</color>
    <color name="darkBlue">#1c73ff</color>*/
