
<div class="artboard container">
  <h1>The Stranger</h1>

  <img src="assets/images/stranger3.jpg" alt="">

  <h5>As some might know I do ride-share to earn income. There was one passenger I picked up on a Friday that made a distinct impression. For the sake of story-telling, we’ll call him Phil. Well, Phil had a very interesting life-story. He was a smart guy. He was an alumni of the prestigious University of Columbia. But, like many of us. Life threw him for a loop. In the early nineties he was a taxi driver for the Portland area. He would go on to do many different odd jobs like being a handyman, construction worker, and painter. He sometimes did very well, but most of the time he did not.</h5>

  <h5>Well, about a year ago, he fell on some really bad times and ended up homeless. Then five months later he did something stupid and ended up in jail for six months. At that point he knew he had hit rock bottom. He decided to turn his life around and would use every moment of free time during those six months to do something productive. He kept a clean environment as much as possible. He worked out and read as many books he could get his hands on. He said, “I’ve never read so many book in such a short period of time.”</h5>

  <h5>When he got out, he met someone. That someone was one of the best in the state of Oregon. The contractor would get the most lucrative deals because he had such a reputation of doing quality work. People of means wait to have him work on their homes doing custom jobs. Phil and the contractor clicked right away. Phil had developed enough work ethic and confidence during his time in jail to offer something to the contractor. Phil was also everything the contractor lacked in his own life. Phil was fun, outgoing, and was all around a good guy. The contractor gave Phil a job immediately.
  Phil got a salary beyond his expectation. Well over fifty thousand dollars. The contractor also helped Phil get a home. A home that needed some care to become a suitable environment. Phil was thankful for a place to rest his head and was gladly willing to work on it.</h5>

  <h5>The reason why I am thankful for this man for telling me his story is that it is a story of great hope. It is also a story about how there is good luck as well as bad luck. It’s so easy to fixate on all the bad things in life: the unwelcomed rain, traffic, lost opportunity, or things just not working to our expectation. But, believe it or not, good luck does happen. It probably happens to us more than we realize or remember. Sometimes we just aren’t ready to receive it or aren’t open to the possibility of it. Well, I really believe him telling me this story primed me for the opportunity of good luck to happen in my life. And I hope, me telling you this story has primed you for that opportunity as well.</h5>
  <br>
  <h5><span>Key Take-Aways:</span></h5>
  <ul>
    <li>Life is unpredictable.</li>
    <li>Everyone determines their own rock bottom and when to start getting back up.</li>
    <li>Serendipity does happen.</li>
    <li>Be primed for opportunity: Phil was ready to meet the contractor because of all the work he did in the jail.</li>
    <li>Be thankful and appreciative when it happens.</li>
  </ul>
</div>
