
.base {
  margin-top: -50px;
  padding-top: 50px;
  background-color: #4f4f4f;
  overflow: hidden;
}

.center-div
{
     margin: 0 auto;
     width: 70%;
}

.card {
  height: 550px;
  background-color: white;
  padding: 1%;
  transition: transform 400ms ease-out;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.tier1 {
  margin-top: 0;
  padding-left: 2%;
  padding-elft: 2%;
  margin-bottom: 50px;
}

.column1 {
  padding-left: 2%;
  padding-elft: 2%;
  width: 50%;
  float: left;
}

.column2 {
  height: 100%;
  width: 50%;
  padding-left: 2%;
  padding-elft: 2%;
  float: right;
}

.out-image {
  margin-left: 25%;
  width: 50%;
}

.blue {
  background-color: blue;
}

.title {
  text-align: center;
  font-family: Georgia1, Georgia, serif;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  border-spacing: 0.5rem;
}

td {
  padding: 0.5rem;
}

.animated {
  -webkit-animation-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7 {
  display: none;
  position: relative;
  z-index: 3;
  border: solid;
  border-width: 6px;
}

.card1 {
  border-color: lightblue;
 }

.card2 {
  border-color: green; }

.card3 {
  border-color: pink; }

.card4 {
  border-color: lightblue; }

.card5 {
  border-color: orange; }

.card6 {
  border-color: green; }

.card7 {
  border-color: black; }

.card1.appear, .card2.appear, .card3.appear, .card4.appear, .card5.appear, .card6.appear, .card7.appear {
  display: block;
}

.card1.fly, .card2.fly, .card3.fly, .card4.fly, .card5.fly, .card6.fly, .card7.fly {
  transform: translate(0, -120vh);
}


.card2.clicked, .card3.clicked, .card4.clicked, .card5.clicked, .card6.clicked, .card7.clicked {
  display: block;
}



/*pagination*/
.ch-grid {
  z-index: 4;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 85px;
	height: 85px;
	display: inline-block;
	margin: 0;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.ch-img-1 {
  z-index: 5;
  background-image: url(../../assets/images/button-1.png);
  background-size: cover;
}

.ch-img-2 {
    z-index: 5;
  background-image: url(../../assets/images/button-2.png);
  background-size: cover;
}

.ch-img-3 {
  z-index: 5;
  background-image: url(../../assets/images/button-3.png);
  background-size: cover;
}

.ch-img-4 {
  z-index: 5;
  background-image: url(../../assets/images/button-4.png);
  background-size: cover;
}

.ch-img-5 {
  z-index: 5;
  background-image: url(../../assets/images/button-5.png);
  background-size: cover;
}

.ch-img-6 {
  z-index: 5;
  background-image: url(../../assets/images/button-6.png);
  background-size: cover;
}

.ch-img-7 {
  z-index: 5;
	background-image: url(../../assets/images/button-7.png);
  background-size: cover;
}

.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow:
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

@media (min-width: 860px) and (max-width: 1125px) {
  .center-div  {
       width: 50%;
       height: 650px;
  }
  .tier1 {
    margin-top: -10px;
    padding-left: 0;
    padding-elft: 0;
    margin-bottom: 10px;
  }

  .column1 {
    padding-left: 0;
    padding-elft: 0;
    width: 50%;

  }

  .column2 {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;

  }
  .out-image {
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
  }

}

@media (max-width: 860px) and (min-width: 500px){
  .center-div  {
    margin-top: 20px;
       width: 70%;
       height: 700px;
  }

}

@media (max-width: 500px) and (min-width: 350px){
  .center-div  {
    margin-top: 25px;
    width: 90%;
    height: 360px;
  }
  .column1 {
    display: none;
  }
  .column2 {
    display: none;
  }
  .ch-item {
    margin-top: 20px;
  }
  .ch-grid li {
  	width: 80px;
  	height: 80px;
  }
}

@media (max-width:350px){
  .center-div  {
    margin-top: -25px;
    width: 90%;
    height: 360px;
  }
  .column1 {
    display: none;
  }
  .column2 {
    display: none;
  }
  .ch-item {
    margin-top: 0;
  }
  .ch-grid li {
  	width: 75px;
  	height: 75px;
  }
}
