<br>
<br>
<br>
<br>
<br>
<div class="base">
  <div class="animated card card1 center-div trigger2" id="card1">
    <div class="tier1">
      <h3 class="title">Be Open to It</h3>
      <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
      <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
    </div>
    <div class="tier2">
      <div class="column1">
        <h4 class="title">Story: Med School</h4>
        <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
        <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
      </div>
      <div class="column2">
        <img class="out-image" src="assets/images/positive-thinking.jpeg" alt="">
        <h5>The Extraordinary Scientific Proof That Positive Thinking Works</h5>
        <h5>See <a href="http://www.huffingtonpost.com/carla-schesser/the-extraordinary-scienti_b_8353068.html">Article</a>...</h5>
      </div>
    </div>
  </div>

    <div class="card card2 center-div trigger3" id="card2">
      <div class="tier1">
        <h3 class="title">Discomfort is a part of it</h3>
        <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
        <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
      </div>
      <div class="tier2">
        <div class="column1">
          <h4 class="title">Story: Shaolin Monk</h4>
          <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
          <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
        </div>
        <div class="column2">
          <img class="out-image" src="assets/images/pain.png" alt="">
          <h5>Neuronal Plasticity: Increasing the Gain in Pain</h5>
          <h5>See <a href="http://science.sciencemag.org/content/288/5472/1765">Article</a>...</h5>
        </div>
      </div></div>

    <div class="card card3 center-div trigger4" id="card3">
      <div class="tier1">
        <h3 class="title">Little by Little</h3>
        <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
        <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
      </div>
      <div class="tier2">
        <div class="column1">
          <h4 class="title">Story: Build Willpower</h4>
          <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
          <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
        </div>
        <div class="column2">
          <img class="out-image" src="assets/images/timer.jpg" alt="">
          <h5>How to build a habit (with science, not willpower)</h5>
          <h5>See <a href="http://homeofficehero.com/how-to-build-a-habit/">Article</a>...</h5>
        </div>
      </div>
    </div>

    <div class="card card4 center-div trigger5" id="card4">
      <div class="tier1">
        <h3 class="title">Process Oriented</h3>
        <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
        <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
      </div>
      <div class="tier2">
        <div class="column1">
          <h4 class="title">Story: The Future is Unpredictable</h4>
          <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
          <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
        </div>
        <div class="column2">
          <img class="out-image" src="assets/images/process.jpg" alt="">
          <h5>A Brief History of Process Oriented Psychology</h5>
          <h5>See <a href="http://www.iapop.com/history/">Article</a>...</h5>
        </div>
      </div>
    </div>

    <div class="card card5 center-div trigger6" id="card5">
      <div class="tier1">
        <h3 class="title">Expect a Learning Curve</h3>
        <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
        <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
      </div>
      <div class="tier2">
        <div class="column1">
          <h4 class="title">Story: Flow State</h4>
          <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
          <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
        </div>
        <div class="column2">
          <iframe class="out-image" src="https://www.youtube.com/embed/pYQQtxb8wv0" frameborder="0" allowfullscreen></iframe>
          <h5>The Flow State Triggers: How to learn anything</h5>
          <h5>See <a href="http://benaustinblog.com/flow-state-triggers/">Article</a>...</h5>
        </div>
      </div>
    </div>

    <div class="card card6 center-div trigger7" id="card6">
      <div class="tier1">
        <h3 class="title">Rest</h3>
        <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
        <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
      </div>
      <div class="tier2">
        <div class="column1">
          <h4 class="title">Sleep is Important</h4>
          <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
          <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
        </div>
        <div class="column2">
          <img class="out-image" src="assets/images/rest.jpg" alt="">
          <h5>Rest Is Not Idleness: Reflection Is Critical for Development and Well-Being</h5>
          <h5>See <a href="https://www.psychologicalscience.org/news/releases/rest-is-not-idleness-reflection-is-critical-for-development-and-well-being.html#.WMJVWDvytEY">Article</a>...</h5>
        </div>
      </div>
    </div>

    <div class="card card7 center-div trigger1" id="card7">
      <div class="tier1">
        <h3 class="title">Repeat</h3>
        <h5>When trying something new for the first time. It can be intimidating. The whole process of learning something new is about figuring out the unknown. The unknown is something that is scary for lots of people. But, it doesn't need to be that way. Just being rationally seeing the possibility of something positive happening from the experience of trying to do something new can be exhilerating and rewarding.</h5>
        <h5>Everyone gets more out of any experience by embracing it and giving it a shot. Instead of doing something without conviction or will to succeed. If belief isn't there, just taking actions towards the goal will create belief.</h5>
      </div>
      <div class="tier2">
        <div class="column1">
          <h4 class="title">Story: The Perfect Roll</h4>
          <h5>There was a young woman I met at the grocery. She worked their part-time while going to community college full-time. She told when she was a teenager she would say to people she wanted to become a doctor. Everyone around her would say how difficult the whole process can be like it was something beyond her intelligence or ability. She later started to start listening to the people that doubted her ability. She decided not to go to college.</h5>
          <h5>A couple years later, she decided to give it a shot. She became open to the possibility of going to school and finishing. She would tell me how it was so much easier than she thought it was going to be. She loved studying biology and the material was not much of a challenge.</h5>
        </div>
        <div class="column2">
          <img class="out-image" src="assets/images/repetition.jpg" alt="">
          <h5>Repetition is the Key to Mastery</h5>
          <h5>See <a href="http://boxlifemagazine.com/repetition-is-the-key-to-mastery/">Article</a>...</h5>
        </div>
      </div>
    </div>

    <ul class="ch-grid">
    	<li>
    		<div class="trigger1 ch-item ch-img-1">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
    	<li>
    		<div class="trigger2 ch-item ch-img-2">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
    	<li>
    		<div class="trigger3 ch-item ch-img-3">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
      <li>
    		<div class="trigger4 ch-item ch-img-4">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
      <li>
    		<div class="trigger5 ch-item ch-img-5">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
      <li>
    		<div class="trigger6 ch-item ch-img-6">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
      <li>
    		<div class="trigger7 ch-item ch-img-7">
    			<div class="ch-info">
    				<h3></h3>
    			</div>
    		</div>
    	</li>
    </ul>

</div>
