<div class="intro-header">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="intro-message">
                <h1>Gentle Resolve</h1>
                <h3 id="darksubtext">Most important promises are the ones we make to <br> ourselves.</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                   <li class="btn btn-primary background-button">
                      <a href="slider.html" class="btn btn-outline-primary btn-lg"><span class="network name"><h3>A New Beginning</h3></span></a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="boxes-background">
    <div class="container boxes-padding">
    <!--box 1-->
      <div class="row">
        <a href="#">
          <div class="col-lg-4 box box1">
            <img class="img-responsive shrink border1" src="assets/images/stranger2.png" alt="">
            <div class="text-box">
              <h2 class="section-heading">Newest Article:<br>The Stranger</h2>
              <p class="lead">Being open to the opportunity of serendipity.</p>
            </div>
          </div>
        </a>
  <!--end box1-->
  <!--box2-->
        <a href="#">
          <div class="col-lg-4 box box2">
            <img class="img-responsive shrink border2" src="assets/images/journey.jpg" alt="">
            <div class="text-box">
              <h2 class="section-heading">Journey</h2>
              <p class="lead">Small steps we can right now to change for the better.</p>
            </div>
          </div>
        </a>
  <!--end Tier 2: new article-->
  <!--Tier 3:-->
        <a href="#">
          <div class="col-lg-4 box box3">
            <img class="img-responsive shrink" src="assets/images/community.png" alt="">
            <div class="text-box">
              <h2 class="section=heading">Community</h2>
              <p class="lead">Powerful ideas from the world community.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="banner">
    <div class="container">
       <div class="row">
        <!-- <div class="col-lg-12" align="center"> -->
          <!-- <h1>Email Me!</h2>
          <h3> I want to get to know everyone of you. Everyone is important.</h4> -->
          <!-- <a href="mailto:gentleresolve360@gmail.com"><h3 id="email">gentleresolve360@gmail.com</h3></a> -->
        <!-- </div> -->
       </div>
     </div>
   </div>
