<div class="artboard">
  <img class="feature-image" src="assets/images/feature-image.png" alt="">
  <a><h2 class="link" routerLink="/meditation" routerlink="meditation">Beginner's Guide to Meditation</h2></a>
</div>



<div class="artboard2">
  <div class="column1">
    <img id="imageOne" src="assets/images/girl-meditating-min.png" alt="">
  </div>
  <div class="text">
    <p><span class="bold">Meditation</span> has shown to increase focus, willpower, and overall mental well-being. Most beginners think of meditation of something mystical or taxing. Some believe you have to stop thinking. This is not the case. It’s just about us being in the present. The easiest way to do that is breathing. Just start to focus on the breath... <a routerLink="/meditation">Continue</a></p>
  </div>
  <div class="column2">
    <img id="imageTwo" src="assets/images/calm.png" alt="">
  </div>
</div>

<!-- <div class="artboard">
    <div class="imgContainer">
        <img id="imageTwo" src="assets/images/girl-meditating-min.png"/>
    </div>
    <div class="imgContainer">
        <img id="imageTwo" class="middle-img" src="assets/images/calm.png"/>
    </div>
</div> -->
