<div class="artboard">
  <img class="feature-image" src="assets/images/feature-image.png" alt="">
  <h2 class="link" routerlink="meditation">Beginner's Guide to Meditation</h2>
</div>



<div class="artboard2">
  <div class="column1">
    <img id="imageOne" src="assets/images/girl-meditating-min.png" alt="">
  </div>
  <div class="text">
    <h3 class="link" routerlink="meditation">Meditation has shown to increase focus, willpower, and overall mental well-being. Most beginners think of meditation of something mystical or taxing. Some believe you have to stop thinking. This is not the case. It’s just about us being in the present. The easiest way to do that is breathing. Just start to focus on the breath.<br>
I find that starting a morning ritual of spending just five minutes to be really effective in creating a positive habit. Just slowly increase the minutes according to your personal comfort level. The most important thing is to just do it. Length is not important especially in the beginning. When you wake up in the morning after you’ve done you need to get ready for the day, take five minutes to just meditate.<br>
If you are going to ride public transportation, that’s a great time to do it. During transit, I like to put on my earphones and hear the sound of the ocean from a free app called Atmosphere. Otherwise1, sit down somewhere comfortable in your home. Sit up straight with good posture and just focus on your breath as much as possible.<br>
In the beginning take some big breaths to relax the body and calm down the mind. You can choose to keep taking big breadths or you can take more shallow breadths. Many of us who live a modern life of over-saturation of stimuli will not be used to this silence. Before you know it, random thoughts start bubbling up. Maybe, you have an itch somewhere. It’s okay to have thoughts. Just be aware of your agency. You can choose to engage in the thought further or you can simply let it with the exhale of your breadth. Some thoughts will be worth engaging and some will not. As long as you remember that is choice to make it, you are free to do so.  Otherwise, just focus on your breadth: inhaling and exhaling. <br>
That’s it. Just keep doing that until you establish a pattern of doing it every-day before trying something else like guided meditations, mantras, Tai-Chi, or many other various forms of meditation. The positive effect of doing meditation might not be immediate. It might take three to six months, to feel any difference. I find </h3>
  </div>
  <div class="column2">
    <img id="imageTwo" src="assets/images/calm.png" alt="">
  </div>
</div>

<!-- <div class="artboard">
    <div class="imgContainer">
        <img id="imageTwo" src="assets/images/girl-meditating-min.png"/>
    </div>
    <div class="imgContainer">
        <img id="imageTwo" class="middle-img" src="assets/images/calm.png"/>
    </div>
</div> -->
